:root {
  --text-color: white;
}

.App, body, #root {
  position: relative;
  z-index: -1;
}

.block {
  text-align: center;
  height: 100vh;
  width: 100%;
}

.no-interaction {
  user-select: none; /* Non-prefixed version, currently*/
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.section-title {
  font-size: 5em;
  height: 20vh;
  line-height: 30vh;
  color: white;
  margin-top: 0;
}

/*NavBar Styles*/
#navbar-container {
  width: 100vw;
  background-color: transparent;
  top: 0;
  z-index: 100;
  position: fixed;
}

.item-container {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-item {
  text-decoration: none;
  font-size: 1.4em;
  cursor: pointer;
  padding: 1em;
  font-weight: 500;
  color: var(--text-color); 
}

.navbar-item:hover {
  color: #E52A6F;
  transition: 0.5s;
}

/*Homepage Styles*/
#home-container {
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

#particle-layer {
  z-index: -1;
  position: fixed;
  background: rgb(20,20,30);
  background: linear-gradient(126deg, #67aeca 20%, #675682 45%, #5f0f4e 90%);
  height: 100%;
}

.home-content {
  width: 70vw;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  top: 40%;
  color: var(--text-color);
}

.home-title {
  font-size: 8em;
  margin: 0 auto;
  margin-bottom: 0.2em;
}

.subtitle-container {
  overflow: hidden;
  top: 100%;
  position: absolute;
  border-radius: 3px;
  margin: 0 auto;
}

.subtitle {
  font-size: 1.6em;
  padding: 0.3em 0.8em;
  background-color: #E52A6F;
}

/* About Styles */

#about-container {
  background: linear-gradient(126deg, #8d76b1 35%, #675682 60%);
}

#about-card-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 70vw;
  justify-content: center;
  padding: 7vh 0;
  background: #715f8f;
  border-radius: 30px;
}

#about-body {
  width: 35vw;
  margin-left: 5vw;
}

#body-description {
  font-size: 1.2em;
  color: white;
}

#picture-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#picture {
  height: 40vh;
  width: auto;
  border-radius: 30px;
}

#about-info-top-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-info-item {
  margin: 3vw;
  color: white;
}

.about-info-title {
  color: #E52A6F;
  font-size: 1.5em;
}

.about-info-content {
  margin-top: 1em;
  font-size: 1.1em;
}

.about-social-icon {
  cursor: pointer;
  height: 5vh;
  width: auto;
  color: white;
  margin-left: 2em;
  margin-right: 2em;
}

.about-social-icon:hover {
  color: #E52A6F;
  transition: 0.5s;
}

/* Skills Styles */

#skills-container {
  background: linear-gradient(210deg, #df437c 35%, #db6f97 60%);
}

#skills-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 80vw;
  padding: 15vh 0;
}

.skill-icon {
  height: 10vh;
  width: auto;
  margin: 2vh;
  color: white;
}

.skill-name {
  color: white;
  font-size: 2em;
}

.skill-icon:hover {
  color: #5f0f4e;
  transition: 0.5s;
}

.skill-icon:hover ~.skill-name {
  color: #5f0f4e;
  transition: 0.5s;
}

.skill-name:hover {
  color: #5f0f4e;
  transition: 0.5s;
}

/* Media Queries */

/* Smaller Desktop Screens */
@media only screen and (max-width:1650px) {
  .home-title {
    font-size: 6em;
  }

  .subtitle {
    font-size: 1.3em;
  }

  #picture {
    height: 30vh;
  }

  .skill-name {
    font-size: 1.5em;
  }
}


/* Small Laptops and Large Tablets */
@media only screen and (max-width:1350px) {
  .item-container {
    width: 85vw;
  }
}

/* Tablet */
@media only screen and (max-width:1250px) {
  .home-title {
    font-size: 4.5em;
  }

  .subtitle {
    font-size: 1em;
  }

  #picture {
    height: 20vh;
  }

  .section-title {
    font-size: 4em;
    height: 15vh;
    line-height: 20vh;
  }

  .skill-icon {
    height: 7vh;
  }
}

/* Small Tablet */
@media only screen and (max-width:1000px) {
  .item-container {
    width: 97vw;
  }

  .home-title {
    font-size: 3.5em;
  }

  .subtitle {
    font-size: 0.8em;
  }

  #about-card-container {
    width: 85vw;
  }

  #about-body {
    width: 45vw;
  }
}

/* Smaller Tablets */
@media only screen and (max-width:800px) {
  .navbar-item {
    font-size: 1.1em;
  }

  .about-info-content {
    font-size: 1em;
  }

  #picture {
    width: 20vw;
    height: auto;
  }

  #picture-container {
    flex-direction: row;
  }

  #about-card-container {
    flex-direction: column;
  }

  #about-body {
    width: 70vw;
    margin: 0 auto;
  }

  .section-title {
    font-size: 3em;
    height: 15vh;
    line-height: 20vh;
  }

  #body-description {
    font-size: 1em;
    color: white;
  }

  #skills-group {
    padding: 5vh 0;
  }

  .skill-name {
    font-size: 1.5em;
  }
}

/* Phones */
@media only screen and (max-width:450px) {
  .navbar-item {
    font-size: 0.55em;
  }

  .home-content {
    top: 30%;
  }

  .about-info-content {
    font-size: 0.6em;
  }

  #body-description {
    font-size: 0.7em;
    color: white;
  }

  #about-card-container {
    padding: 2vh 0;
  }

  .section-title {
    font-size: 2em;
    height: 10vh;
    line-height: 15vh;
  }

  #skills-group {
    padding: 4vh 0;
  }

  .skill-name {
    font-size: 1em;
  }

  .skill-icon {
    height: 5vh;
  }
}

/* Short screens */
@media only screen and (max-height: 800px) {
  #about-card-container {
    width: 95vw;
  }

  #about-body {
    width: 65vw;
  }

  #body-description {
    font-size: 1em;
  }

  .skill-name {
    font-size: 1.05em;
    margin: 2.5vh
  }

  .section-title {
    font-size: 4em;
    line-height: 20vh;
    height: 15vh;
  }
}
