.App {
  text-align: center;
}

/*NavBar Styles*/
#navbar-container {
  width: 100vw;
  background-color: transparent;
  top: 0;
  z-index: 100;
  position: fixed;
}

/*Homepage Styles*/
#particle-layer {
  z-index: -1;
  position: fixed;
}