:root {
  --text-color: white;
}

.App, body, #root {
  position: relative;
  z-index: -1;
}

.no-interaction {
  user-select: none; /* Non-prefixed version, currently*/
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

/*NavBar Styles*/
#navbar-container {
  width: 100vw;
  background-color: transparent;
  top: 0;
  z-index: 100;
  position: fixed;
}

.item-container {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-item {
  text-decoration: none;
  font-size: 1.4em;
  cursor: pointer;
  padding: 1em;
  font-weight: 500;
  color: var(--text-color); 
}

.navbar-item:hover {
  color: #E52A6F;
  transition: 0.5s;
}

/*Homepage Styles*/
#home-container {
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

#particle-layer {
  z-index: -1;
  position: fixed;
  background: rgb(20,20,30);
  background: linear-gradient(126deg, #67aeca 20%, #675682 45%, #5f0f4e 90%);
  height: 100%;
}

.home-content {
  width: 70vw;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  top: 40%;
  color: var(--text-color);
}

.home-title {
  font-size: 8em;
  margin: 0 auto;
  margin-bottom: 0.2em;
}

.subtitle-container {
  overflow: hidden;
  top: 100%;
  position: absolute;
  border-radius: 3px;
  margin: 0 auto;
}

.subtitle {
  font-size: 1.6em;
  padding: 0.3em 0.8em;
  background-color: #E52A6F;
}